{% extends "./layout.html" %}

{% block content %}
    {% load static %}
        <div class="container" style="padding-top: 80px; min-height: 100%; padding-bottom: 20px;">
            <div class="row">
                <h3 align="center">{{ coin.name }}</h3>
            </div>
            <div class="row">
                <table class="table table-bordered table-sm table-responsive-sm" style="text-align: center;">
                  <thead>
                      <tr>
                          <th>Номинал</th>
                          <th scope="col">Качество чеканки</th>
                          <th scope="col">Металл, проба</th>
                          <th scope="col">Содержание хим. чистого металла, г.</th>
                          <th scope="col">Масса общая, г.</th>
                          <th scope="col">Диаметр, мм.</th>
                          <th scope="col">Толщина, мм.</th>
                          <th scope="col">Макс. тираж, шт.</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{ coin.nominal }}</td>
                          <td>{{ coin.quality }}</td>
                          <td>{{ coin.probe }}</td>
                          <td>{{ coin.pure_metal }}</td>
                          <td>{{ coin.mass }}</td>
                          <td>{{ coin.diameter }}</td>
                          <td>{{ coin.thickness }}</td>
                          <td>{{ coin.copies }}</td>
                      </tr>
                  </tbody>
                  <thead>
                      <tr>
                          <th scope="col" colspan="4">Оригинальная комплектация монеты</th>
                          <th scope="col" colspan="4">Изготовитель</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td colspan="4">{{ coin.original_equipment }}</td>
                          <td colspan="4">{{ coin.manufacturer }}</td>
                      </tr>
                  </tbody>
                </table>
            </div>

            <div class="row">
                {% for img in imgs %}
                <div class="col-md-3">
                    <img src="{% static '/coinCatalog/' %}{{ img.href }}" style="width: 100%;">
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}