{% extends 'coinCatalog/layout.html' %}

{% block content %}
    {% load static %}

    <script src="https://rawgit.com/mattdiamond/Recorderjs/master/dist/recorder.js"></script>
    <div class="container" style="padding-top: 110px; min-height: 100%; padding-bottom: 20px;">
        <div class="row" style="padding: 20px; background-color: white; border-radius: 5px;">
            <div class="col-md-12" style="text-align: center;">
                <div style="padding-bottom: 20px;">
                    <textarea id="history" name="history" rows="10" cols="80" placeholder="Здесь будет история сообщений"></textarea>
                    <div>
                        <input type="text" id="question" name="question" size="80" placeholder="Введите ваше сообщение здесь"/>
                    </div>
                    <br>
                    <button id="send" class="btn btn-large btn-success">Отправить</button>
                    <button id="mic_btn" class="btn btn-large btn-outline-success" style="color: #28a745; border-color: #28a745"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                </div>
                <div id="graph_frame" style="width: 100%; overflow: hidden;">
                    {% include 'coinCatalog/sb_first.gv.svg' %}
                </div>
            </div>
        </div>
    </div>

    <script>

        let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        let socketUrl = ws_scheme + "://" + window.location.host + window.location.pathname;
        let socket = new WebSocket(socketUrl);
        var button = document.getElementById("send");
        var history1 = document.getElementById("history");
        var micBtn = document.getElementById("mic_btn");
        var input = document.getElementById("question");
        var rec = null;
        var isRecording = false;

        navigator.mediaDevices.getUserMedia({
            audio: true
        }).then(stream => {
            const aCtx = new AudioContext();
            const streamSource = aCtx.createMediaStreamSource(stream);
            rec = new Recorder(streamSource);
        });

        micBtn.addEventListener("click", function () {
            isRecording = !isRecording;
            if (isRecording) {
                micBtn.innerText = "Микрофон выкл.";
                rec.clear();
                rec.record();
            } else {
                micBtn.innerText = "Микрофон вкл.";
                rec.stop()
                rec.exportWAV((blob) => {
                    socket.send(blob);
                });
            }
        });

        function sendAnswer() {
            let input = document.getElementById("question").value;
            document.getElementById("question").value = "";
            history1.value = input + "\n\n" + history1.value;
            socket.send(input);
        }

        var previousRect = null;

        function highLight(topic) {
            if (previousRect != null) {
                previousRect.setAttribute("fill", "none");
            }

            //get current topic's rectangle, color it
            let currentRect = document.getElementById(topic).getElementsByTagName("polygon")[0];
            currentRect.setAttribute("fill", "#00AC00");
            previousRect = currentRect;

            //get position, scroll iframe to current topic's rectangle
            let textObj = document.getElementById(topic).getElementsByTagName("text")[0]
            let x = textObj.getAttribute("x");
            let y = textObj.getAttribute("y");
            let xOffset = document.getElementById("graph_frame").clientWidth / 2
            let yOffset = document.getElementById("graph_frame").clientHeight / 2
            console.log(x, y);
            document.getElementById("graph_frame").scrollTo({
                left: 1 * x + 4 - xOffset,
                top: 1 * y + 423 - yOffset,
                behavior: "smooth"
            });
            console.log(1 * x + 4, 1 * y + 423)
        }

        button.addEventListener("click", sendAnswer);

        input.onkeypress = function (event) {
            if (event.keyCode === 13) {
                sendAnswer();
            }
        };

        socket.onmessage = function (event) {
            let data = JSON.parse(event.data);
            console.log(event);
            if (data.type == 'dialog_answer_ready') {
                history1.value = data.text + "\n\n" + history1.value;
                highLight(data.topic);

            }
            if (data.type === 'recognized_speech_ready') {
                history1.value = data.text + "\n\n" + history1.value;
            }
        };

        socket.onopen = function (event) {
            console.log('socket opened');
        };

        socket.onclose = function (event) {
            console.log('socket closed');
            alert("Соединение было разорвано!");
        };

        socket.onerror = function (event) {
            console.log('socket errors');
            alert("Сокет вернул ошибку!");
        };

    </script>

{% endblock %}
