{% extends "./layout.html" %}

{% block content %}
{% load static %}
<div class="container" style="padding-top: 110px; min-height: 100%; padding-bottom: 20px;">
    <div class="row">
        {% for cat in categories %}
        <div class="col-md-4" style="margin-bottom: 10px; padding: 10px;">
            <a href="{% url 'category' id=cat.id %}" class="category-a" style="color: black;">
                <div style="border: 1px solid rgba(0,0,0,.4); border-radius: 0.25rem; background-color: white;">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal" style="font-size: 1.3rem; color: black;">{{ cat.name }}</h4>
                    </div>
                    <div class="card-body" style="padding: 0">
                        <img src="{% static '/coinCatalog/' %}{{ cat.href }}" style="width: 100%;">
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}