<li class="nav-item" role="presentation">
    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}" style="font-weight: bold;font-size: 15px;color: #00ac00;">КАТАЛОГ</a>
</li>
<li class="nav-item" role="presentation">
    <a class="nav-link js-scroll-trigger" href="{% url 'stream' %}" style="font-weight: bold;font-size: 15px;color: #00ac00;">РАСПОЗНАВАНИЕ</a>
</li>
<li class="nav-item" role="presentation">
    <a class="nav-link js-scroll-trigger" href="{% url 'dialog' %}" style="font-weight: bold;font-size: 15px;color: #00ac00;">СБЕРТА</a>
</li>