<li class="nav-item" role="presentation">
    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}" style="font-weight: bold;font-size: 15px;color: #00ac00;" id="nav-catalog"></a>
</li>
<li class="nav-item" role="presentation">
    <a class="nav-link js-scroll-trigger" href="{% url 'stream' %}" style="font-weight: bold;font-size: 15px;color: #00ac00;" id="nav-recognize"></a>
</li>
<li class="nav-item" role="presentation">
    <a class="nav-link js-scroll-trigger" href="{% url 'dialog' %}" style="font-weight: bold;font-size: 15px;color: #00ac00;" id="nav-sberta"></a>
</li>