{% extends "./layout.html" %}
{% load static %}

{% block addition_links %}
<style>
    #video {
        width: 900px;
        height: 675px;
        margin-left: auto;
        margin-right: auto;
    }
    #video2 {
        width: 480px;
        height: 360px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    #canvas {
        width: 900px;
        height: 675px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #canvas2 {
        max-width: 480px;
        max-height: 360px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

</style>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta http-equiv="Content-Security-Policy" content="default-src * gap: data: blob: 'unsafe-inline' 'unsafe-eval' ws: wss:;">
{% endblock %}

{% block content %}
<div id="coinModal1" class="modal fade" tabindex="-1" style="padding-top: 50px;" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
`    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="coinModal2">
        </div>
    </div>
    <div class="chevron-wrapper">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <video autoplay id="video" data-eng="{{ lang }}"></video>
            <canvas id="canvas" width="900" height="675"></canvas>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: rgba(68,119,34, 0.6); height: auto; position: absolute; bottom: 5%;">
    <div class="row" style="min-height: 200px; height: auto; padding: 10px; opacity: 1;" id="rec-coins"></div>
</div>
<script src="{% static '/coinCatalog/js/canvas.js' %}"></script>
<script src="{% static '/coinCatalog/js/coinBrowser.js' %}"></script>
<script src="{% static '/coinCatalog/js/websocket.js' %}"></script>
{% endblock %}