{% extends "./layout.html" %}
{% load static %}

{% block addition_links %}
<style>
    #video {
        width: 640px;
        height: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    #video2 {
        width: 640px;
        height: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    #canvas {
        max-width: 640px;
        max-height: 480px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #canvas2 {
        max-width: 640px;
        max-height: 480px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

</style>
<meta name="apple-mobile-web-app-capable" content="yes" />
<!--<link rel="manifest" href="{% static '/coinCatalog/manifest.json' %}">-->
<!--<meta name="mobile-web-app-capable" content="yes">-->
{% endblock %}

{% block content %}

<div class="modal fade" id="coinModal" tabindex="-1" style="padding-top: 50px;" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-coin-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-coin-body">
                <table class="table table-bordered table-sm">
                    <tr>
                        <th>Полное название</th>
                        <td id="modal-coin-body-name"></td>
                    </tr>
                    <tr>
                        <th>Изготовитель</th>
                        <td id="modal-coin-body-manufacturer"></td>
                    </tr>
                    <tr>
                        <th>Количество</th>
                        <td id="modal-coin-body-copies"></td>
                    </tr>
                </table>
                <p id="modal-coin-body-description"></p>

                <div class="row modal-imgs" id="modal-imgs">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 20px; height: 100%; min-height: 1020px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <video autoplay id="video"></video>
                <canvas id="canvas" width="640" height="480"></canvas>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row" style="min-height: 200px; height: auto;" id="rec-coins"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <video autoplay id="video2"></video>
                <canvas id="canvas2" width="640" height="480"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="myVideo" style="height: 500px; width: 500px;"></div>
<script src="{% static '/coinCatalog/js/canvas.js' %}"></script>
<script src="{% static '/coinCatalog/js/coinBrowser.js' %}"></script>
<script src="{% static '/coinCatalog/js/websocket.js' %}"></script>
{% endblock %}