<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sberbank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/coinCatalog/css/style.css' %}">
  <style>
    .video {
      width: 640px;
      height: 480px;
      position: absolute;
      left: 0;
    }

    #canvas {
      position: absolute;
      border: 1px solid #000;
      left: 0;
    }
  </style>
</head>
<body style="font-family: serif, 'Open Sans' !important;">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a href="{% url 'index' %}">
        <object type="image/svg+xml" data="{% static '/coinCatalog/logosber.svg' %}" width="150" height="40" >
          Your browser does not support SVG
        </object>
      </a>
    </h5>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Streaming video</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12" style="">
        <video autoplay class="video"></video>
        <canvas id="canvas" width="640" height="480"></canvas>
      </div>
    </div>
  </div>

  <script>
    const video = document.querySelector('video');

navigator.mediaDevices.getUserMedia({video: {width: 640, height: 480}}).then((stream) => video.srcObject = stream);

const getFrame = () => {
    console.log("send frame");
    const canvas = document.createElement('canvas');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0);
    return JSON.stringify({
        img: canvas.toDataURL('image/png'),
        timestamp: + new Date(),
    });

};
const FPS = 3;

let socketUrl = "ws://" + window.location.host + window.location.pathname;
let socket = new WebSocket(socketUrl);

let canvas = document.getElementById('canvas');
let context = canvas.getContext('2d');

socket.onmessage = function (event) {
    context.clearRect(0, 0, canvas.width, canvas.height);
    let rects = JSON.parse(JSON.parse(event.data).text);

    rects.forEach(rect => {
        context.beginPath();
        context.rect(rect[1], rect[0], rect[3] - rect[1], rect[2] - rect[0]);
        context.strokeStyle = 'blue';
        context.lineWidth = "3";
        context.stroke();
        context.closePath();
    });
};

socket.onopen = function (event) {
    console.log('socket opened');
    console.log(event);
    setInterval(() => socket.send(getFrame()), 1000 / FPS);
};

socket.onclose = function (event) {
    console.log('socket closed');
    console.log(event);
};

socket.onerror = function (event) {
    console.log('socket errors');
    console.log(event);
};
  </script>

<!--  <script src="{% static '/coinCatalog/js/websocket.js' %}"></script>-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>